meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Liderazgo, Innovación transformativa y Gobernanza
meta(meta name="description" content="En este componente se pretende abordar el análisis de la influencia entre los actores en el logro de los ODS, así como la identificación de la convergencia y divergencia de estos actores con respecto a los objetivos del desarrollo sostenible e interpretar los mapas de convergencia y divergencia para identificar las diferentes posturas de los actores.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")