h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210001012–3. Planear la sostenibilidad de los territorios a partir del uso de las principales metodologías, métodos y técnicas de innovación transformativa y Gobernanza (micro gobernanza, meso, macro).

