.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 La prospectiva estratégica:
            | es una disciplina pero, aún más relevante, es una forma de pensar que implica anticiparse, sin restarle importancia al presente. Los perspectivistas estudian el largo plazo y toman acciones para diseñar el futuro. Si las tendencias indican un futuro indeseable, se toman medidas correctivas para modificarlo; si se espera un futuro deseable, se busca mantener el status quo.

        p
            strong.mr-2 Mactor:
            | es un método de análisis de juego de actores que busca valorar las relaciones de fuerza entre los actores y estudiar sus convergencias y divergencias con respecto a un cierto número de posturas y de objetivos asociados.


        p 
            strong.mr-2 Multipol:
            | el método Multipol pretende comparar diferentes acciones o soluciones a un problema en función de criterios y de políticas múltiples. El objetivo del Multipol es también aportar ayuda a la decisión construyendo un tablero de análisis simple y evolutivo de las diferentes acciones o soluciones que se le ofrecen al que debe tomar la decisión.        
        p    
            strong.mr-2 Sistemas sociotécnicos:
            | El término trata acerca de los aspectos sociales de las personas y la colectividad y los aspectos técnicos de la estructura organizacional y procesos. Aquí, la técnica no implica necesariamente la tecnología material, su enfoque es sobre los procedimientos y los conocimientos conexos. El término “Técnica” es usado para referirse a la estructura y un sentido más amplio de tecnicismos. “Socio Técnico” se refiere, a la interrelación de aspectos sociales y técnicos de una organización o la sociedad en su conjunto. Manrique, 2015