.container#page-introduccion

    .header-ecored
        h1 Introducción


    .jumbotron.bg-white 
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi illo voluptatem praesentium necessitatibus eaque itaque quam molestiae aliquid doloribus sunt quae, at iusto beatae ea reiciendis dicta quia vitae culpa.
          .p-5(style="background-color:#ECEFFE")        
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex magnam totam voluptates illo quae vero ratione provident velit, laudantium voluptate doloribus dolor temporibus architecto laboriosam reprehenderit! Inventore modi quos numquam.</br></br>
              |#[strong Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, modi? Veritatis autem eaque sit inventore alias odit ducimus! Itaque quas molestiae porro molestias magnam, quod voluptatum quasi? Quos, culpa aliquid. ]



              