include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("EcuRed. (s. f.). Prospectiva Estratégica - EcuRed. https://www.ecured.cu.", "https://www.ecured.cu/Prospectiva_Estrat%C3%A9gica#:%7E:text=La%20prospectiva%20estrat%C3%A9gica%20es%20una,acciones%20para%20dise%C3%B1ar%20el%20futuro", "https://www.ecured.cu/Prospectiva_Estrat%C3%A9gica")

        +referenciaItem("GODET, M. (s. f.). Métodos de prospectiva > Los programas > Mactor: La prospective. La prospective «pour penser et agir autrement».", "http://es.laprospective.fr/Metodos-de-prospectiva/Los-programas/68-Mactor.html")

        +referenciaItem("M.Godet & P. Durance (2011). La prospectiva estratégica para las empresas y los territorios. UNESCO.")

        +referenciaItem("OMPI (2016). Principios básicos de la propiedad industrial.")

        +referenciaItem("OMPI (2016). Principios básicos del derecho de autor y los derechos conexos.")

     

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            